
div.k-widget.k-window {
  /* toute la fenetre du formulaire */
  width: auto !important;
  max-height: 80%;
  top: 6.2% !important;
}

div[name="recurrenceRule"] {
  /* depassement des options de recurrences */
  overflow-x: auto;
}

.k-widget.k-combobox.k-combobox-clearable {
  padding-left: 0px;
  width: auto !important;
}

.k-event {
  /* les enregistrements programmés dans le scheduler */
  height: fit-content !important;
  max-height: 50px;
}

.k-edit-field {
  text-align: left;
}

div.k-recur-view {
  /* dans le formulaire, les champs qui apparaissent lors du choix de la recurrence */
  font-style: italic;
}

#typeSources {
  /* le champ type Source dans le formulaire */
  border-collapse: collapse;
  text-align: center !important;
}
#typeSources > thead th {
  border-right: 1px solid black;
  padding-right: 3px !important;
  padding-left: 3px !important;
}

.k-edit-label {
  overflow-wrap: break-word;
}

.k-scheduler-content {
  overflow: auto;
}

.k-scheduler-timelineview
  > tbody
  > tr:first-child
  > td:last-child
  .k-scheduler-table
  > tbody
  > tr:nth-child(2)
  th {
  /* chaque case des minutes du header */
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-top: 2px;
}

table.k-scheduler-layout.k-scheduler-timelineview
  > tbody
  > tr:nth-child(1)
  > td:nth-child(1)
  table[class="k-scheduler-table"]
  > tbody
  > tr:nth-child(2) {
  /* vue web, rangé+colonne blanche vide qui prennent de la place pour rien */
  display: none;
}

/* table.k-scheduler-layout.k-scheduler-timelineview
  > tbody
  > tr:nth-child(1)
  > td:nth-child(2)
  table[class="k-scheduler-table"]
  > tbody
  .k-scheduler-date-group {
  header qui affiche la date d'ajrd'hui => ne sert a rien pour la vue timelineday
  display: none;
} */

/* tr[class="k-mobile-header k-mobile-vertical-header"]
  table[class="k-scheduler-table"]
  > tbody
  > tr:nth-child(1) {
  vue mobile, rangé blanche vide qui prend de la place pour rien
  display: none;
} */

.recordDayTemplate,
.recordWeekTemplate {
  /* dans le scheduler, les blocs des enregistrements programmés */
  font-size: 10px;
}
.midMinutes {
  /* vue timelineDay, dans le header du scheduler, les minutes intermediaires (10,30,50) */
  font-size: 8px;
  font-weight: 200;
  margin-top: auto;
  margin-bottom: auto;
}

.midHours {
  /* vue timelineWeek, dans le header du scheduler, les heures intermediaires */
  font-size: 10px;
  font-weight: 200;
  margin-top: auto;
  margin-bottom: auto;
}

div[name="recurrenceRule"] > div > span {
  overflow: visible !important;
}

@media (min-width: 330px) and (max-width: 640px) {
  table[class="k-scheduler-layout k-scheduler-timelineview"]
    > tbody
    > tr:nth-child(2)
    > td:nth-child(2)
    .k-scheduler-table
    > tbody
    tr
    td {
    /* vue timelineDay, chaque case du scheduler */
    height: 33px !important;
  }

  table.k-scheduler-layout.k-scheduler-timelineview
    > tbody
    > tr:nth-child(2)
    > td:nth-child(1)
    .k-scheduler-table
    > tbody
    > tr
    th {
    /* vue timelineDay, chaque case des canaux */
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 1px;
  }

  table.k-scheduler-layout.k-scheduler-timelineview
    > tbody
    > tr:nth-child(2)
    > td:nth-child(1)
    .k-scheduler-table
    > tbody
    > tr
    th
    span {
    height: 41px !important;
    white-space: normal;
    overflow-wrap: break-word;
    font-size: 10px;
  }

  table.k-scheduler-layout.k-scheduler-timelineWeekview
    > tbody
    > tr:nth-child(2)
    > td:nth-child(1)
    .k-scheduler-table
    > tbody
    tr
    th {
    /* vue timelineWeek, chaque case des canaux */
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 1px;
  }

  table.k-scheduler-layout.k-scheduler-timelineWeekview
    > tbody
    > tr:nth-child(2)
    > td:nth-child(1)
    .k-scheduler-table
    > tbody
    > tr
    th
    span {
    /* vue timelineWeek, chaque case des canaux */
    height: 40px !important;
    white-space: normal;
    overflow-wrap: break-word;
    font-size: 10px;
  }

  table.k-scheduler-layout.k-scheduler-timelineWeekview
    > tbody
    > tr:nth-child(2)
    > td:nth-child(2)
    .k-scheduler-table
    > tbody
    > tr
    td {
    /* vue timelineWeek, chaque case du scheduler */
    /* height: 45px; */
  }

  /* Formulaire > */

  .k-edit-field,
  .k-textbox,
  .k-combobox {
    float: left !important;
    padding-left: 10px;
  }

  span[class="k-widget k-datetimepicker"] {
    width: auto !important;
    float: left;
  }
}

@media (min-width: 641px) and (max-width: 1366px) {
  table.k-scheduler-layout.k-scheduler-timelineview
    > tbody
    > tr:nth-child(2)
    > td:nth-child(1)
    .k-scheduler-table
    > tbody
    > tr
    th {
    /* chaque case des canaux */
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 1px;
  }

  table.k-scheduler-layout.k-scheduler-timelineview
    > tbody
    > tr:nth-child(2)
    > td:nth-child(1)
    .k-scheduler-table
    > tbody
    > tr
    th
    span {
    /* vue timeline, chaque case des canaux */
    height: 36px !important;
    white-space: normal;
    overflow-wrap: break-word;
    font-size: 10px;
  }

  table.k-scheduler-layout.k-scheduler-timelineWeekview
    > tbody
    > tr:nth-child(2)
    > td:nth-child(1)
    .k-scheduler-table
    > tbody
    tr
    th {
    /* vue timelineWeek, chaque case des canaux */
    padding-left: 2px;
    padding-right: 1px;
    padding-top: 2px;
    padding-bottom: 1px;
  }

  table.k-scheduler-layout.k-scheduler-timelineWeekview
    > tbody
    > tr:nth-child(2)
    > td:nth-child(1)
    .k-scheduler-table
    > tbody
    > tr
    th
    span {
    /* vue timelineWeek, chaque case des canaux */
    height: 45px !important;
    white-space: normal;
    overflow-wrap: break-word;
    font-size: 10px;
  }

  table.k-scheduler-layout.k-scheduler-timelineWeekview
    > tbody
    > tr:nth-child(2)
    > td:nth-child(2)
    .k-scheduler-table
    > tbody
    > tr
    td {
    /* vue timelineWeek, chaque case du scheduler */
    /* height: 50px; */
  }

  /* Formulaire > */
  .k-edit-field,
  .k-textbox,
  .k-combobox {
    float: left !important;
    padding-left: 10px;
  }
  .k-recur-view > .k-edit-field {
    width: auto !important;
  }
  span[class="k-widget k-datetimepicker"] {
    width: auto !important;
    float: left;
  }
}

@media (min-width: 1367px) {
  table.k-scheduler-layout.k-scheduler-timelineview
    > tbody
    > tr:nth-child(2)
    > td:nth-child(1)
    table[class="k-scheduler-table"]
    > tbody
    tr
    th {
    /* vue web, chaque case des canaux */
    white-space: normal;
    overflow-wrap: break-word;
    min-width: 80px;
    text-align: center;

    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 1px;
  }

  /* Formulaire  */
  h3 {
    float: left;
    border-bottom: ridge;
  }
}